<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hexapod_gazebo)/worlds/hexapod.world"/>
    <arg name="paused" value="true"/>
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find hexapod_control)/launch/hexapod_control.launch"/>
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find hexapod_description)/urdf/hexapod.urdf.xacro'"/>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -z 0.2 -model hexapod -param robot_description" />
</launch>